<br>
<hr>
<br>
<strong>{{encabezado}}</strong>
Filtro<br>
<p>Cadena original: {{encabezado|default:"Seccion sin titulo"}}</p>
<p>Uso join {{encabezado|join:'-'}}</p>
<p>Tamaño de la cadena: {{encabezado|length}} caracteres.</p>
<p>Mayuscula: {{encabezado|upper}}</p>
<p>Minuscula: {{encabezado|lower}}</p>
<p>Contador de palabras: {{encabezado|wordcount}}</p>
<br>
<p>Lista original: {{estudiantes}}</p>
<p>Uso join {{estudiantes|join:'-'}}</p>
<p>Primero de la lista: {{estudiantes|first}}</p>
<p>Ultimo de la lista: {{estudiantes|last}}</p>
<p>Tamaño de la lista: {{estudiantes|length}}</p>