<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
        | Andres Vera
    </title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>
    <header>
        <div id="logotipo">
            <img src="{% static 'images/logoDJango.png' %}">
            <h1>Proyecto Web (LP3) | Andres Vera </h1>
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="/inicio"> Inicio </a></li>
            <li><a href="/saludo"> Mensaje de saludo </a></li>
            <li><a href="/rango"> Mostrar numeros [a,b] </a></li>
            <li><a href="/rango2/10/15"> Mostrar numeros [10,15] </a></li>
        </ul>
    </nav>

    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>

    <div id="content">
        <div class="box">
            {% block content %}
                <strong> Contenido en Layout (Padre)</strong> 
            {% endblock %}
        </div>
    </div>




    <footer>
        UNTELS - Lenguaje de Programación III &COPY; Andres Vera
    </footer>
</body>
</html>